{% extends 'base.html'%}
{% block content %}


{% if user.is_authenticated %}	
<div >
	<div>
		<div class="id">
		<h2>
			REPUBLIQUE DU BURUNDI <br>
			MINISTERE DE L'INTERIEUR <br>
			ET DE LA FORMATION PATRIOTIQUE <br>
			ET DE DEVELOPPEMENT LOCAL <br>
			MUNICIPALITE DE {{identite.province}} <br>
			COMMUNE URBAINE DE {{identite.commune}}<br>
			ZONE DE {{identite.zone}}
		</h2>
		</div>
		<br><br><br>
		
		<div>	


			<h2 id="Title">ATTESTATION D'IDENTITE COMPLETE  Numero .........</h2>
			<p id="para">
				Je soussigne <strong>{{identite.zone.chefZoneLeader}} </strong>Chef de Zone<strong> {{identite.zone }}</strong>, atteste par la 
				presente que l'identite complete de Monsieur <strong> {{user.last_name}} {{user.first_name}}</strong>, est le suivant: <br>
			</p>
		</div>
		<div class="identite">
		<table>
		   <tr>
		       <td>NOM </td>
		       <td> : </td>
		       <td>{{user.last_name}}</td>
		   </tr><tr>
		       <td>prenom</td>
		       <td> : </td>
		       <td>{{user.first_name}}</td>
		   </tr><tr>
		       <td>NOM DU PERE</td>
		       <td> :</td>
		       <td>{{persone.NomPere}}</td>
		   </tr>
		   <tr>
		       <td>NOM DE LA MERE </td>
		       <td> :</td>
		       <td>{{persone.NomMere}}</td>
		   </tr>

		   <tr>
		       <td>lieu et date de naissance</td>
		       <td> :</td>
		       <td>{{persone.colline}},{{persone.anneeDeNaissance }}</td>
		   </tr>	

		   <tr>
		       <td>commune </td>
		       <td> :</td>
		       <td>{{persone.commune_natal}}</td>
		   </tr>

		   <tr>
		       <td>province </td>
		       <td> :</td>
		       <td>{{persone.province_natal}}</td>
		   </tr>

		   <tr>
		       <td>Nationalite </td>
		       <td> :</td>
		       <td>{{persone.nationalite}}</td>
		   </tr>

		   <tr>
		       <td>ETAT-CIVIL</td>
		       <td> : </td>
		       <td>{{persone.etatCivil}}</td>
		   </tr>
		
		   <tr>
		       <td>PROFESSION </td>
		       <td> :</td>
		       <td>{{persone.profession}}</td>
		   </tr>

		   <tr>
		       <td>RESIDENCE ACTUELLE </td>
		       <td> :</td>
		       <td>Zone {{ identite.zone}},  Q. {{identite.quarter}}</td>
		   </tr>
		</table>
			
		</div><br><br>
		<p>
			La présente attestation lui est délivrée au vu de sa Carte  Nationale d’Identité  portant  numéro {{persone.numberId}}  délivrée  à {{persone.commune_natal }},  {{persone.date_delivrated }}.
		</p><br>
		</div>
		<div class="footer">
			<h2>
				Fait a Bujumbura ,<br> {{identite.date}} <br>
				LE CHEF DE ZONE {{identite.zone}} <br>
				{{identite.zone.chefZoneLeader}}<br><br>
			</h2>
		</div>
{% endif %}
{% endblock %}
