{% extends 'base.html' %}

{% block content %}
<div class="display-4" style="background-color:#FFFFFF;color:#000000;">
  
  {% if user.is_authenticated %}
    	<P >welcome <br>This is the home page</p>
  		<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
  		<p>Username: {{ user.username}}</p>
  		<p>Email: {{ user.email }}</p>
  	
   {% else %}
   
	   <ol>
	   <p>These are all identities we have in our db</p>
	  		{% for id in identites %}
		   		<li>{{id.Person}} <a href="idcomplete/{{id.pk}}" class="btn btn-success">view idc</a> </li> 
		    {% endfor %}
		</ol>
   {% endif %}
</div>


{% endblock %}